<!DOCTYPE html>
<html>
    <head>
        <title>Generating MIDI</title>
    </head>
<body>
    <ul>
        <% for(var i = 0; i < notes.length; i++) {%>
        <li><%= notes[i] %></li>
        <% } %>
    </ul>
</body>
</html>
